.login-container {
  padding: convertToVw(80px) 0 convertToVw(60px);

  @include mq_min_750 {
    padding: 80px 0 60px;
  }

  .header-login {
    @include flexbox(flex, center, center, nowrap);
    margin-bottom: convertToVw(55px);

    @include mq_min_750 {
      margin-bottom: 55px;
    }

    img {
      width: convertToVw(250px);
      height: convertToVw(392px);

      @include mq_min_750 {
        width: 250px;
        height: 392px;
      }
    }
  }

  .form-login {
    form {
      .form-group:nth-child(1) {
        margin: 0 0 convertToVw(35px);

        @include mq_min_750 {
          margin: 0 0 35px;
        }

        input {
          background-color: $white-color;

          height: convertToVw(80px) !important;

          padding: convertToVw(22px) convertToVw(16px) convertToVw(22px) convertToVw(28px);
          margin: 0px;

          &::placeholder {
            color: $placeholder-color !important;
            font-weight: normal;
          }

          @include mq_min_750 {
            padding: 22px 16px 22px 28px;
            height: 80px !important;
          }
        }

        .ant-col {
          #email_help {
            display: none;
          }
        }
      }

      .form-group:nth-child(2) {
        input {
          margin-bottom: convertToVw(13px);

          @include mq_min_750 {
            margin-bottom: 13px;
          }
        }
      }

      .form-group-bottom {
        margin-bottom: convertToVw(16px);

        @include mq_min_750 {
          margin-bottom: 16px;
        }

        .ant-input-password {
          height: convertToVw(80px) !important;
          padding: convertToVw(20px) convertToVw(16px) convertToVw(20px) convertToVw(28px);
          margin-bottom: 0;

          @include mq_min_750 {
            height: 80px !important;
            padding: 20px 16px 20px 28px;
          }

          .ant-input {
            &::placeholder {
              color: $placeholder-color !important;
              font-weight: normal;
            }
          }
        }

        .ant-col {
          #password_help {
            display: none;
          }
        }

        span {
          background-color: $white-color;
        }
      }

      .block-error {
        margin: convertToVw(40px) 0 convertToVw(58px);

        @include mq_min_750 {
          margin: 40px 0 58px;
        }

        .error-validate {
          color: #e50012;

          height: auto;

          margin: 0;

          .text-danger {
            letter-spacing: convertToVw(0px);
            white-space: nowrap;
            font-weight: 500;

            @include mq_min_750 {
              letter-spacing: 0px;
            }
          }
        }
      }

      .form-group-checkbox-login {
        color: $white-color;
        gap: convertToVw(20px);
        padding: 0 convertToVw(12px);
        @include flexbox(flex, space-between, center, nowrap);

        @include mq_min_750 {
          gap: 20px;
          padding: 0 22px;
        }

        .checkbox-login-element {
          @include flexbox(flex, center, center, null);

          input {
            margin: 0 convertToVw(9px) 0 0;
            width: convertToVw(20px);
            height: convertToVw(20px);

            @include mq_max_576 {
              width: 15px;
              height: 15px;
            }

            @include mq_min_750 {
              margin: 0 9px 0 0;
              width: 20px;
              height: 20px;
            }
          }

          @supports (-webkit-touch-callout: none) {
            input {
              padding: 0;
            }
          }

          span {
            font-size: convertToVw(23px);

            @include mq_min_750 {
              font-size: 24px;
            }
          }
        }
      }

      .btn-login-container {
        margin: convertToVw(34px) 0 convertToVw(39px);

        @include mq_min_750 {
          margin: 34px 0 39px;
        }

        .btn-login {
          font-weight: 500;
          font-size: convertToVw(24px);
          max-width: convertToVw(290px);
          padding: convertToVw(25px) 0 convertToVw(21px);
          min-height: convertToVw(80px);

          @include mq_min_750 {
            font-size: 24px;
            max-width: 290px;
            padding: 25px 0 21px;
            min-height: 80px;
          }
        }
      }
    }

    .forgot {
      color: $white-color;
      flex-direction: column;

      @include flexbox(flex, center, flex-start, nowrap);

      span {
        height: auto;

        margin: 0 0 convertToVw(27px);

        letter-spacing: convertToVw(1.5px);
        font-size: convertToVw(24px);

        @include mq_min_750 {
          margin: 0 0 27px;

          letter-spacing: 1.5px;
          font-size: 24px;
        }

        a {
          display: inline;
          color: $white-color;
          text-decoration: underline;
        }
      }

      span.forgot-password {
        margin-bottom: 0;
      }
    }
  }

  .have-account {
    text-align: center;
    color: $white-color;
    margin-top: convertToVw(55.5px);

    h1 {
      font-weight: 500;
      font-size: convertToVw(28px);
    }

    @include mq_min_750 {
      margin-top: 55.5px;
      h1 {
        font-size: 28px;
      }
    }
  }

  .btn-login-container-bottom {
    margin: convertToVw(22px) 0 convertToVw(48px) 0;

    @include mq_min_750 {
      margin: 22px 0 48px 0;
    }

    button {
      color: $black-color;
      font-weight: 500;
      font-size: convertToVw(24px);

      @include mq_min_750 {
        font-size: 24px;
      }
    }

    & .btn-register-member {
      width: 100%;
      background-color: #e6d4ae;
      border: none;
      border-radius: convertToVw(10px);
      height: convertToVw(100px);

      @include mq_min_750 {
        border-radius: 10px;
        height: 100px;
      }
    }
  }
}
